*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f1f3f4;
	font-family: sans-serif;
}
.top-nav-bar{
	height: 100px;
	top: 0;
	position: sticky;
	margin-bottom: 20px;
	border-bottom: 3px solid Blue;
	z-index: 2;
	background-color: red;
}
.form-control{
	margin-top: 9px;
	margin-left:30px;
	border: 1px solid orange;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
}
.input-group-text{
	background: Orange !important;
	border: 1px solid orange;
	margin: 8.5px 10px 3px 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}
.search-box{
	display: inline-flex;
	width: 60%;
}
.search-box input{
	color: red;
}

.menu{
	width: 40%;
	height: 57px;
	float: right;

}
.menu ul{
	display: inline-flex;
	float: right;


}
.menu ul li{
	border-left: 1px solid #fff;
	list-style-type: none;
	padding: 15px 35px;
	text-align: center;
	background-color: orange;
	color: #9DB5BF ;
	cursor: pointer;



}
.menu ul li a{
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;


}

.submenu{
	width: 40%;
	height: 57px;
	float: left;

}
.submenu ul{
	display: inline-flex;
	float: left;


}
.submenu ul li {
	list-style-type: none;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
	color: #9DB5BF ;
	margin: 0 5px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;

}
.ProductGrid{
	background-color: #ACA79A;

}

.ProductGrid h2{
	margin-top: 10px;
	background: #007BFF;
	width: 400px;
	font-weight: bold;
	height: 40px;
	padding: 0px;
}

.product-top img{
	width: 80%;
	height: 30%;
}
.product-bottom {
	margin: auto;
	line-height: 5px;
	color: #333032;
}
.product-bottom h3{
	size: 14px;

}
