*{
	margin: 0;
	padding: 0;
	font--family: sans-serif;
	
}

.form-control{
	margin-top: 10px;
	margin-left:30px;
	border: 1px solid orange;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
}
.input-group-text{
	background: Orange !important;
	border: 1px solid orange;
	margin: 8.5px 10px 3px 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20;
	cursor: pointer;
}
.search-box{
	display: inline-flex;
	width: 60%;
}
.search-box input{
	color: red;
}	
	

.container{
	width: 100%;
	height: 18%;
	top: 0;
	position: sticky;	
	margin-bottom: 20px;
	background: #264662;

}
.menu{
	width: 40%;
	height: 57px;
	float: right;
}
.menu ul{
	display: inline-flex;
	float: right;

}
.menu ul li{
	border-left: 1px solid #fff;
	list-style-type: none;
	padding: 10px 30px;
	text-align: center;
	background-color: white;	
	color: #9DB5BF ;
	margin: 0 5px;
	margin-top: 10px;
	cursor: pointer;
	
}
.menu ul li a{
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.submenu{
	width: 40%;
	height: 57px;
	float: right;

}
.submenu ul{
	display: inline-flex;
	float: right;

}
.submenu ul li {
	
	list-style-type: none;
	padding: 10px 30px;
	text-align: center;	
	cursor: pointer;
	color: #9DB5BF ;
	margin: 0 5px;
	font-weight: bold;
	margin-top: 20px;

	
}


@media only screen and (max-width: 980px)
{
	.container
	{
		height: 118px;
		border-bottom: 0px;
	}
	.search-box
	{
		width: 100%;
	}
	.menu
	{
		width: 100%;
	}
	menu ul
	{
		margin: 10px 0;
		width: 100%;

	}
}

.ProductGrid{
	background-color: ACA79A;

}
		
.ProductGrid h2{
	margin-top: 30px;
	background: #0062cc;
	width: 400px;
	font-weight: bold;
	height: 40px;
	padding: 0px;
}

.product-top img{
	width: 80%;
	height: 30%;
}
.product-bottom {
	margin: auto;
	line-height: 5px;
	color: #333032;
}
.product-bottom h3{
	size: 14px;

}